*{
    margin: 0;
    padding: 0;
    font-family: 'Taviraj', serif;
}    
body{
    background-color:#8b5742;
}

/* scroll */
    ::-webkit-scrollbar {
        width: 0.9em;
        height: 0.5em;
        background-color: #8b5742;
    }

    ::-webkit-scrollbar-thumb {
        background-color: antiquewhite;
        border-radius: 1rem;
        border: solid 0.3rem #8b5742;
    }

    ::-webkit-scrollbar-track {
        background-color: #8b5742;
        border: solid 0.3rem transparent;
    }

/* Título */
    .titulo{
        margin: 3%;
        font-family: 'Aboreto', cursive;
        color: antiquewhite;
        font-size: 50px;
        font-weight: bold;
    }

/* Separação */
    .separacao{
        width: 100%;
        padding: 5px 0 5px 0;
        background-color: antiquewhite;
    }

/* Descrição - Topo */
    .desc{
        font-style: italic;
        margin: 10% 25% 10% 25%;
        color: antiquewhite;
        font-family: 'Taviraj', serif;
    }

/* Tabelas */
    table{
        padding: 5px;
        background-color: antiquewhite;
        box-shadow: 5px 5px 7px 2px;
        width: 80%;
    }
    td{
        padding: 10px 20px 10px 20px;
        width: 175px;
        text-align: center;
    }
    /* Nome - Itens */
    .nome{
        font-family: 'Aboreto', cursive;
        font-size: 20px;
        font-weight: bold;
    }
    /* Imagem - Itens */
    /* Descrição - Itens */
    .descricao{
        font-family: 'Taviraj', serif;
        font-size: 16px;
        font-weight: bold;
    }
    /* Seleção - Itens */
    .selecao{
        font-family: 'Aboreto', cursive;
        font-weight: bold;
    }
    input[type=checkbox] {
        cursor: pointer;
        margin: 0 0 0 10px;
    }

/* Botão */
    button{
        padding: 1%;
        font-family: 'Aboreto', cursive;
        font-size: 20px;
        font-weight: bold;
        border: 0;
        background-color: antiquewhite;
    }
    button:hover{
        padding: 1%;
        font-family: 'Aboreto', cursive;
        font-size: 20px;
        font-weight: bold;
        border: 0;
        box-shadow: 5px 5px 7px 2px;
        cursor: pointer;
    }

/* Resultados */
.desc-dir{
    text-align: right;
}